name: Build/Push/Deploy image for StorySpark

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag (optional)'
        required: false
        default: ''

concurrency:
  group: deploy-${{ github.ref_name }}
  cancel-in-progress: false

env:
  KEEP: 2
  SRC_DIR: case_studies/StorySpark/src
  TF_GOOGLE_DIR: case_studies/StorySpark/src/infra/gcp/main
  PROJECT_ID: ${{vars.STORYSPARK_GCP_PROJECT_ID }}
  GCS_BUCKET: ${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}
  TF_PLAN_FILE: storyspark.tfplan
  ARTIFACT_DOCKER_REPO: containers
  SOURCE_MODEL_DIR: models

  # --- GitHub Variables (used via 'vars.') ---
  GCP_PROJECT_ID: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}
  GCP_REGION: ${{ vars.STORYSPARK_GCP_REGION }}
  GCP_ZONE: ${{ vars.STORYSPARK_GCP_ZONE }}
  GCP_TF_STATE_BUCKET: ${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}

  # --- GitHub Secret (used via 'secrets.') ---
  # This variable holds the JSON content of the service account key for GCP
  GCP_TERRAFORM_SA_KEY_JSON: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      short_sha: ${{ steps.branch_info.outputs.short_sha }}
      branch_name: ${{ steps.branch_info.outputs.branch_name }}
      branch_name_lower: ${{ steps.branch_info.outputs.branch_name_lower }}
      repo_name_lower: ${{ steps.branch_info.outputs.repo_name_lower }}
      prodOrDev: ${{ steps.branch_info.outputs.prodOrDev }}
      image_name: ${{ steps.docker_image_vars.outputs.image_name}}
      image_repo_path: ${{ steps.docker_image_vars.outputs.image_repo_path }}
      image_tag: ${{ steps.docker_image_vars.outputs.image_tag }}
    permissions:
      contents: read # Need read permission for checkout

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Debug repo structure
      working-directory: ${{ github.workspace }}/${{ env.SRC_DIR }}
      run: |
        ls -la

    - name: Calculate Branch info
      id: branch_info
      run: |
        SHORT_SHA="${GITHUB_SHA::12}"
        echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT

        BRANCH_NAME=$(echo ${{ github.ref_name }} | tr '/' '-')
        BRANCH_NAME_LOWER=$(echo "${BRANCH_NAME}" | tr '[:upper:]' '[:lower:]')
        REPO_LOWER=$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')

        echo "branch_name=${BRANCH_NAME}" >> $GITHUB_OUTPUT
        echo "branch_name_lower=${BRANCH_NAME_LOWER}" >> $GITHUB_OUTPUT
        echo "repo_name_lower=${REPO_LOWER}" >> $GITHUB_OUTPUT

        # Use 'main/infra' for the main branch, otherwise use the branch name.
        if [ "$BRANCH_NAME" == "main" ]; then
          echo "prodOrDev=prod" >> $GITHUB_OUTPUT
        else
          echo "prodOrDev=dev" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Set IMAGE variables
      id: docker_image_vars
      env:
        REGION: ${{ vars.STORYSPARK_GCP_REGION }}
        PROJECT_ID: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}
      run: |
        SHORT_SHA="${{ steps.branch_info.outputs.short_sha }}"
        REPO_NAME="${{ steps.branch_info.outputs.repo_name_lower }}"
        ENV_SEG="${{ steps.branch_info.outputs.prodOrDev }}"
        BRANCH="${{ steps.branch_info.outputs.branch_name_lower }}"
        ARTIFACT_HOST="${REGION}-docker.pkg.dev"
        ARTIFACT_DOCKER_REPO=${{ env.ARTIFACT_DOCKER_REPO }}

        # Choose tag: static for prod (main), short sha for others
        if [ "${ENV_SEG}" = "prod" ]; then
          IMAGE_TAG="release"
        else
          IMAGE_TAG="${SHORT_SHA}"
        fi

        IMAGE_PATH="${ARTIFACT_HOST}/${PROJECT_ID}/${ARTIFACT_DOCKER_REPO}/${REPO_NAME}/${ENV_SEG}/${BRANCH}"
        IMAGE_NAME="${IMAGE_PATH}:${IMAGE_TAG}"

        echo "image_name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
        echo "image_repo_path=${IMAGE_PATH}" >> $GITHUB_OUTPUT
        echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
    
    - name: Output Variables
      run: |
        echo "Branch Name: ${{ steps.branch_info.outputs.branch_name }}"
        echo "Image Name: ${{ steps.docker_image_vars.outputs.image_name }}"
        echo "Image Repo Path: ${{ steps.docker_image_vars.outputs.image_repo_path }}"
        echo "Image Tag: ${{ steps.docker_image_vars.outputs.image_tag }}"
      shell: bash
  
#-------------------------------------------------------------------------------------------------------------------------
      
  docker-build:
    runs-on: ubuntu-latest
    outputs:
      saved_image_filename: ${{ steps.save_image.outputs.saved_image_filename }}
    needs: [setup]
    permissions:
      contents: read # Need read permission for checkout
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - id: 'auth'
      name: 'Authenticate to Google Cloud via SA Key'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}

    - name: Download the model artifacts
      working-directory: ${{ github.workspace }}/${{ env.SRC_DIR }}
      run: |
        gcloud artifacts generic download \
          --project=${{ vars.STORYSPARK_GCP_PROJECT_ID }} \
          --location=${{ vars.STORYSPARK_GCP_REGION }} \
          --repository=${{ vars.STORYSPARK_MODELS_CONTAINER }} \
          --package=${{ vars.STORYSPARK_MODELS_PACKAGE }} \
          --version=${{ vars.STORYSPARK_MODELS_PACKAGE_VERSION }} \
          --destination=.      

    - name: Build the Docker image
      working-directory: ${{ github.workspace }}/${{ env.SRC_DIR }}
      run: |
        docker build \
        --target prod \
        --file Dockerfile \
        --tag ${{ needs.setup.outputs.image_name }} \
        --build-arg STORYSPARK_GCP_BQ_PROJECT_ID=${{ vars.STORYSPARK_GCP_BQ_PROD_PROJECT_ID}} \
        --build-arg STORYSPARK_GCP_BQ_DATASET_ID=${{ vars.STORYSPARK_GCP_BQ_PROD_DATASET_ID}} \
        --build-arg STORYSPARK_GCP_BQ_SOURCE_TABLE_ID=${{ vars.STORYSPARK_GCP_BQ_PROD_SOURCE_TABLE_ID}} \
        --build-arg STORYSPARK_GCP_BQ_EMBEDDINGS_TABLE_ID=${{ vars.STORYSPARK_GCP_BQ_PROD_EMBEDDINGS_TABLE_ID}} \
        --build-arg SOURCE_MODEL_DIR=./${{ env.SOURCE_MODEL_DIR }} \
        --build-arg MODEL_FILE=${{ vars.STORYSPARK_MODELS_MODEL_NAME }}.${{ vars.STORYSPARK_MODELS_MODEL_EXTENSION }} \
        --build-arg MODEL_DATA_FILE=${{ vars.STORYSPARK_MODELS_SOURCE_DIRECTORY }}/${{ vars.STORYSPARK_MODELS_MODEL_NAME }}.${{ vars.STORYSPARK_MODELS_MODEL_EXTENSION }}.data \
        --build-arg PIP_CACHE=false \
        .
    
    # We are separating the docker build and push into two different steps so we need to persist the image between runs
    - name: Save image to tar
      id: save_image
      run: |
        IMAGE="${{ needs.setup.outputs.image_name }}"
        SAVED_IMAGE_FILENAME="image.tar"
        echo "Saving ${IMAGE} -> ${SAVED_IMAGE_FILENAME}"
        docker save "$IMAGE" -o "$SAVED_IMAGE_FILENAME"
        echo "saved_image_filename=${SAVED_IMAGE_FILENAME}" >> $GITHUB_OUTPUT

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.save_image.outputs.saved_image_filename }}
        path: ${{ steps.save_image.outputs.saved_image_filename }}
        retention-days: 1

#-------------------------------------------------------------------------------------------------------------------------
      
  docker-push:
    runs-on: ubuntu-latest
    needs: [setup, docker-build]
    if: github.ref == 'refs/heads/main'
    outputs:
      image_ref: ${{ steps.get_digest.outputs.image_ref}}
    permissions:
      contents: read # Need read permission for checkout
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - id: 'auth'
      name: 'Authenticate to Google Cloud via SA Key'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}

    - name: Configure Docker auth for Artifact Registry
      env:
        REGION: ${{ vars.STORYSPARK_GCP_REGION }}
      run: |
        gcloud auth configure-docker ${REGION}-docker.pkg.dev

    - name: Download image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ needs.docker-build.outputs.saved_image_filename }}
        path: .

    - name: Load image into Docker
      run: |
        docker load -i ${{ needs.docker-build.outputs.saved_image_filename }}
        
    - name: Push the Docker image
      run: |
        docker push ${{ needs.setup.outputs.image_name  }}

    - name: Get pushed image digest
      id: get_digest
      run: |
        IMAGE_TAG="${{ needs.setup.outputs.image_tag }}"
        REPO_PATH=${{ needs.setup.outputs.image_repo_path }}
        DIGEST=$(gcloud artifacts docker images describe "${REPO_PATH}:${IMAGE_TAG}" \
          --project="${{ vars.STORYSPARK_GCP_PROJECT_ID }}" --format='get(image_summary.digest)')
        if [ -z "${DIGEST}" ]; then
          echo "Failed to find digest for ${REPO_PATH}:${IMAGE_TAG}" >&2
          exit 1
        fi
        echo "image_ref=${REPO_PATH}@${DIGEST}" >> $GITHUB_OUTPUT

  # docker-push-2:
  #   runs-on: ubuntu-latest
  #   needs: [setup, docker-build]
  #   outputs:
  #     image_ref: ${{ steps.get_digest.outputs.image_ref}}
  #   permissions:
  #     contents: read # Need read permission for checkout
    
  #   steps:
  #   - name: Checkout repository
  #     uses: actions/checkout@v4

  #   - name: Download image artifact
  #     uses: actions/download-artifact@v4
  #     with:
  #       name: ${{ needs.docker-build.outputs.saved_image_filename }}
  #       path: .

  #   - name: Load image into Docker
  #     run: |
  #       docker load -i ${{ needs.docker-build.outputs.saved_image_filename }}

  #   - name: Login to Docker Hub
  #     uses: docker/login-action@v2
  #     with:
  #       username: ${{ vars.STORYSPARK_DOCKERHUB_USERNAME }}
  #       password: ${{ secrets.STORYSPARK_DOCKERHUB_TOKEN }}  
        
  #   - name: Push the Docker image
  #     run: |
  #       docker push ${{ needs.setup.outputs.image_name  }}

    # - name: Get pushed image digest
    #   id: get_digest
    #   run: |
    #     IMAGE_TAG="${{ needs.setup.outputs.image_tag }}"
    #     REPO_PATH=${{ needs.setup.outputs.image_repo_path }}
    #     DIGEST=$(gcloud artifacts docker images describe "${REPO_PATH}:${IMAGE_TAG}" \
    #       --project="${{ vars.STORYSPARK_GCP_PROJECT_ID }}" --format='get(image_summary.digest)')
    #     if [ -z "${DIGEST}" ]; then
    #       echo "Failed to find digest for ${REPO_PATH}:${IMAGE_TAG}" >&2
    #       exit 1
    #     fi
    #     echo "image_ref=${REPO_PATH}@${DIGEST}" >> $GITHUB_OUTPUT

#-------------------------------------------------------------------------------------------------------------------------

  terraform-plan: # This job will run on PRs and main branch pushes to generate the plan
    runs-on: ubuntu-latest
    needs: [setup, docker-push]
    if: github.ref == 'refs/heads/main'
    outputs:
      tf_prefix: ${{ steps.tf_prefixes.outputs.tf_prefix }}
    permissions:
      contents: read # Need read permission for checkout

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - id: 'auth'
      name: 'Authenticate to Google Cloud via SA Key'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.4.6

    - name: Calculate Branch info
      id: tf_prefixes
      run: |
        PROD_OR_DEV="${{ needs.setup.outputs.prodOrDev }}"
        BRANCH_NAME="${{ needs.setup.outputs.branch_name }}"

        if [ "${PROD_OR_DEV}" = "prod" ]; then
            echo "tf_prefix=terraform/main/infra" >> $GITHUB_OUTPUT
          else
            echo "tf_prefix=terraform/${BRANCH_NAME}/infra" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Terraform Init
      id: init
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform init \
          -input=false \
          -reconfigure \
          -backend-config="bucket=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -backend-config="prefix=${{ steps.tf_prefixes.outputs.tf_prefix }}"

    - name: Terraform Plan
      id: plan
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform plan \
          -input=false \
          -var="project_id=${{ vars.STORYSPARK_GCP_PROJECT_ID }}" \
          -var="location=${{ vars.STORYSPARK_GCP_LOCATION }}" \
          -var="region=${{ vars.STORYSPARK_GCP_REGION }}" \
          -var="zone=${{ vars.STORYSPARK_GCP_ZONE }}" \
          -var="tfstate_bucket_name=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -var="git_branch=${{ needs.setup.outputs.branch_name }}" \
          -var="cloud_run_image=${{ needs.docker-push.outputs.image_ref }}" \
          -var="artifact_docker_images_repo_id=${{ env.ARTIFACT_DOCKER_REPO }}" \
          -lock-timeout=5m \
          -out=tfplan

    - name: Upload Terraform Plan Artifact
      uses: actions/upload-artifact@v4
      with:
        name: tfplan-artifact
        path: ${{ env.TF_GOOGLE_DIR }}

#-------------------------------------------------------------------------------------------------------------------------

  terraform-apply:
    runs-on: ubuntu-latest
    needs: [terraform-plan, setup]
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud via SA Key
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.4.6

    - name: Download Terraform Plan Artifact
      uses: actions/download-artifact@v4
      with:
        name: tfplan-artifact
        path: ${{ env.TF_GOOGLE_DIR }}

    - name: Output Branch Name
      run: |
        echo "Branch Name: ${{ needs.setup.outputs.branch_name }}"
      shell: bash

    - name: Terraform Init
      id: init
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform init \
          -input=false \
          -reconfigure \
          -backend-config="bucket=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -backend-config="prefix=${{ needs.terraform-plan.outputs.tf_prefix }}"

    - name: Terraform Apply
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform apply \
          -input=false \
          -auto-approve \
          -lock-timeout=5m \
          tfplan
