name: Build/Push/Deploy image for StorySpark

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag (optional)'
        required: false
        default: ''

concurrency:
  group: deploy-${{ github.ref_name }}
  cancel-in-progress: false

env:
  KEEP: 2
  SRC_DIR: case_studies/StorySpark/src
  TF_GOOGLE_DIR: case_studies/StorySpark/src/infra/gcp/main
  PROJECT_ID: storyspark-5555555
  GCS_BUCKET: storyspark-5555555-terraform-state
  TF_PLAN_FILE: storyspark.tfplan

  # --- GitHub Variables (used via 'vars.') ---
  GCP_PROJECT_ID: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}
  GCP_REGION: ${{ vars.STORYSPARK_GCP_REGION }}
  GCP_ZONE: ${{ vars.STORYSPARK_GCP_ZONE }}
  GCP_TF_STATE_BUCKET: ${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}

  # --- GitHub Secret (used via 'secrets.') ---
  # This variable holds the JSON content of the service account key for GCP
  GCP_TERRAFORM_SA_KEY_JSON: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

jobs:
  terraform-plan: # This job will run on PRs and main branch pushes to generate the plan
    runs-on: ubuntu-latest
    permissions:
      contents: read # Need read permission for checkout

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Debug repo structure
      run: |
        echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE"
        ls -R $GITHUB_WORKSPACE

    - id: 'auth'
      name: 'Authenticate to Google Cloud via SA Key'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.4.6

    - name: Calculate Branch info
      id: branch_info
      run: |
        BRANCH_NAME=$(echo ${{ github.ref_name }} | tr '/' '-')
        echo "branch_name=$BRANCH_NAME" >> $GITHUB_OUTPUT
        echo "branch_name_lower=$BRANCH_NAME" | tr '[:upper:]' '[:lower:]' >> $GITHUB_OUTPUT
        echo "repo_name_lower=$GITHUB_REPOSITORY" | tr '[:upper:]' '[:lower:]' >> $GITHUB_OUTPUT

        # Use 'main/infra' for the main branch, otherwise use the branch name.
        if [ "$BRANCH_NAME" == "main" ]; then
          echo "tf_prefix=terraform/main/infra" >> $GITHUB_OUTPUT
          echo "prodOrDev=prod" >> $GITHUB_OUTPUT
        else
          echo "tf_prefix=terraform/$BRANCH_NAME/infra" >> $GITHUB_OUTPUT
          echo "prodOrDev=dev" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Output Branch Name
      run: |
        echo "Branch Name: ${{ steps.branch_info.outputs.branch_name }}"
      shell: bash

    # Set up Docker image
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ vars.STORYSPARK_GCP_PROJECT_ID }}

    - name: Configure Docker auth for Artifact Registry
      env:
        REGION: ${{ vars.STORYSPARK_GCP_REGION }}
      run: |
        gcloud auth configure-docker ${REGION}-docker.pkg.dev

    - name: Set IMAGE variables
      id: docker_image_vars
      run: |
        SHORT_SHA="${GITHUB_SHA::12}"
        IMAGE_NAME="${{ steps.branch_info.outputs.repo_name_lower }}/${{ steps.branch_info.outputs.prodOrDev }}/${{ steps.branch_info.outputs.branch_name_lower }}/${{ vars.STORYSPARK_GCP_PROJECT_ID }}:${SHORT_SHA}"
        echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT
        echo "image_name=$IMAGE_NAME" >> $GITHUB_OUTPUT

    - name: Build the Docker image
      working-directory: ${{ github.workspace }}/${{ env.SRC_DIR }}
      run: |
        ls -la
        docker build --file Dockerfile --tag ${{ steps.docker_image_vars.outputs.image_name }} .

    # - name: Push the Docker image
    #   run: |
    #     docker push ${{ steps.docker_image_vars.outputs.image_name }}

    - name: Terraform Init
      id: init
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform init \
          -input=false \
          -reconfigure \
          -backend-config="bucket=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -backend-config="prefix=${{ steps.branch_info.outputs.tf_prefix }}"

    - name: Terraform Plan and Save
      id: plan
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform plan \
          -input=false \
          -var="project_id=${{ vars.STORYSPARK_GCP_PROJECT_ID }}" \
          -var="location=${{ vars.STORYSPARK_GCP_LOCATION }}" \
          -var="region=${{ vars.STORYSPARK_GCP_REGION }}" \
          -var="zone=${{ vars.STORYSPARK_GCP_ZONE }}" \
          -var="tfstate_bucket_name=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -var="git_branch=${{ steps.branch_info.outputs.branch_name }}" \
          -var="cloud_run_image=${{ steps.docker_image_vars.outputs.image_name }}" \
          -lock-timeout=5m \
          -out=tfplan

    - name: Upload Terraform Plan Artifact
      uses: actions/upload-artifact@v4
      with:
        name: tfplan-artifact
        path: ${{ env.TF_GOOGLE_DIR }}

  terraform-apply:
    runs-on: ubuntu-latest
    needs: [terraform-plan]
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud via SA Key
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.STORYSPARK_GCP_TERRAFORM_SA_KEY }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.4.6

    - name: Download Terraform Plan Artifact
      uses: actions/download-artifact@v4
      with:
        name: tfplan-artifact
        path: ${{ env.TF_GOOGLE_DIR }}

    - name: Calculate State Prefix
      id: prefix
      run: |
        BRANCH_NAME=$(echo ${{ github.ref_name }} | tr '/' '-')
        echo "branch_name=$BRANCH_NAME" >> $GITHUB_OUTPUT

        # Use 'main/infra' for the main branch, otherwise use the branch name.
        if [ "$BRANCH_NAME" == "main" ]; then
          echo "tf_prefix=terraform/main/infra" >> $GITHUB_OUTPUT
        else
          echo "tf_prefix=terraform/$BRANCH_NAME/infra" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Output Branch Name
      run: |
        echo "Branch Name: ${{ steps.branch_info.outputs.branch_name }}"
      shell: bash

    - name: Terraform Init
      id: init
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform init \
          -input=false \
          -reconfigure \
          -backend-config="bucket=${{ vars.STORYSPARK_GCP_TF_STATE_BUCKET }}" \
          -backend-config="prefix=${{ steps.branch_info.outputs.tf_prefix }}"

    - name: Terraform Apply
      working-directory: ${{ github.workspace }}/${{ env.TF_GOOGLE_DIR }}
      run: |
        terraform apply \
          -input=false \
          -auto-approve \
          -lock-timeout=5m \
          tfplan
